language: android
jdk: oraclejdk7
env:
  matrix:
    - ANDROID_TARGET=android-23  ANDROID_ABI=armeabi-v7a

before_install:
 - chmod +x gradlew
 
android:
  components:
    - build-tools-23.0.0
    - android-23
    - sysimg-23
  licenses:
    - android-sdk-license-5be876d5 # new license!

script: gradle build :MFC-SDK:build